@model string;
@{
    ViewData["Title"] = "Principal Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/cstview.css" />
<!--<partial name="_header" /> !-->
<div class="dashboard-header"></div>

<div class="dashboard-container">
    <!-- Main Dashboard Section -->
    <div class="dashboard">

       

        <div class="partial-container">Welcome! Select your tools.</div>
       

    <!-- Right Navigation -->
    <partial name="_RightNavBar" model="-1" />
</div>