@using Microsoft.AspNetCore.Mvc;
@model string;
@{
    ViewData["Title"] = "Principal Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/dash.css" />
}

<!--<partial name="_header" /> !-->
<partial name="_header" />


    <!-- Main Dashboard Section -->
    <div class="dashboard">

        <!-- Right Navigation -->
        <partial name="_RightNavBar" model="-1" />

        <div class="partial-container">Welcome! Select your tools.</div>

    </div>