@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    // Retrieve values from the Session
    var userId = HttpContextAccessor.HttpContext!.Session.GetString("UserId");
    var userName = HttpContextAccessor.HttpContext.Session.GetString("UserName") ?? "Unknown";
}

<div class="dashboard-header redirect" data-to="PrincipalDashboard/Index">
    <div class="logo">
      <img src="/image/logo.png" height="30" alt="Logo">
      <h3>School Name</h3>
    </div>
    <div class="user">
      <p data-userid="@userId">@userName</p>
      <a class="login" href="/Login/Logout">Logout</a>
    </div>
</div>

