@model int;
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/rightnav.css" />
<script type="module" >
import { RedirectButtons } from "/js/controllModel.js";
let redirectButtons = new RedirectButtons("/Principal");
</script>
<div class="right-nav">
    

    <div class="create-actions">
    <h3>Navigation</h3>
    @if(Model>-2){
        <button class="btn primary" data-action="PrincipalDashboard/Index">Dashboard</button>
    }
    @if(Model >= 0){
        <button class="btn primary" data-id="@Model" data-action="PrincipalDashboard/CSTView">Subject Teacher</button>
        <button class="btn primary" data-id="@Model" data-action="PrincipalDashboard/CSView">Class-Student</button>
    }
    @if(Model>-3){
        <button class="btn primary" data-action="PrincipalDashboard/SDForm">Student Admission</button>
    }
    
        
        
    </div>

    <div class="create-actions">
    <h3>Create</h3>
        <button class="btn primary" data-action="SetupPrincipal/CreateTeacher">Create Teacher Account</button>
        <button class="btn primary" data-action="SetupPrincipal/CreateClass">Create Class</button>
        <button class="btn primary" data-action="SetupPrincipal/CreateSubject">Create Subject</button>
        <button class="btn primary" data-action="SetupPrincipal/CreateExam">Create Exam</button>
    </div>
</div>
