@using System.Text.Json;
@model int;


@{
    Layout = null;
    var data = new
    {
        user = TempData["user"],
        school = TempData["schoolName"],
        logoPath = "/image/logo.png",
        pageId = Model
    };
    var jsonData = JsonSerializer.Serialize(data);
}


<script type="module">
    import { RightNav } from "/js/rightNav.js"
    RightNav(@Html.Raw(jsonData));
</script>



<div class="right-nav">

    <div class="create-actions">
        <h3>Navigation</h3>
        @if (Model > -5)
        {
            <button class="btn primary redirect" data-to="PrincipalDashboard/Index">Dashboard</button>
        }
        @if (Model > -4)
        {
            <button class="btn primary redirect" data-to="PrincipalDashboard/SDForm">Student Admission</button>
        }
        @if (Model > -3)
        {
            <button class="partial toggler" data-to="PrincipalDashboard/Analytics"  data-js="/js/Analytics">Analytics</button>
            <button class="partial toggler" data-to="PrincipalDashboard/Teachers" data-js="/js/moveTeacher">Teachers</button>
            <button class="partial toggler" data-to="PrincipalDashboard/Classes">Classes</button>
            <button class="partial toggler" data-to="PrincipalDashboard/Subjects">Subjects</button>
            <button class="partial toggler" data-to="PrincipalDashboard/Exams">Exams</button>
        }
        @if (Model >= 0)
        {
            <button class="btn secondary partial" data-id="@Model" data-to="PrincipalDashboard/CSTView">Subject Teacher</button>
            <button class="btn secondary partial" data-id="@Model" data-to="PrincipalDashboard/CSView">Students</button>
            <button class="btn secondary partial" data-id="@Model" data-to="PrincipalDashboard/movestudents">Move Students</button>
        }


    </div>

    <div class="create-actions">
        <h3>Create</h3>
        <button class="redirect btn primary" data-to="SetupPrincipal/CreateTeacher">Teacher Account</button>
        <button class="redirect btn primary" data-to="SetupPrincipal/CreateClass">Class</button>
        <button class="redirect btn primary" data-to="SetupPrincipal/CreateSubject">Subject</button>
        <button class="redirect btn primary" data-to="SetupPrincipal/CreateExam">Exam</button>
        <button class="redirect btn primary" data-to="SetupPrincipal/SetupSchool">School Info</button>
        <a class="redirect btn primary" data-to="LeaveCallender/DisplayLeaveCallenderForm" href="~/Index">Leave Callendar</a>
    </div>
    <a class="btn primary" data-action="SetupPrincipal/DatabaseManagement" href="~/Index">Database</a>
</div>