@using System.Text.Json;
@model int;

@{
    Layout = null;
    var data = new
    {
        user = TempData["user"],
        school = TempData["schoolName"],
        logoPath = "/image/logo.png",
        pageId = Model
    };
    var jsonData = JsonSerializer.Serialize(data);
}

<script type="module">
    import { RightNav } from "/js/rightNav.js"
    RightNav(@Html.Raw(jsonData));
</script>


 
<div class="right-nav">

    <div class="create-actions">
        <h3>SERVICES</h3>
        
            <button class="redirect" data-to="PrincipalDashboard/Index">Dashboard</button>
            <button class="partial" data-to="PrincipalDashboard/Analytics"  data-js="/js/Analytics">Analytics</button>
            <button class="partial" data-to="PrincipalDashboard/Teachers" data-js="/js/moveTeacher">Teachers</button>
            <button class="partial" data-to="PrincipalDashboard/Classes" >Classes</button>
            <button class="partial" data-to="PrincipalDashboard/Subjects">Subjects</button>
            <button class="partial" data-to="PrincipalDashboard/Exams">Exams</button>

    </div>

    <div class="create-actions">
        <h3>SCHOOL SETUP</h3>
        <button class="redirect" data-to="PrincipalDashboard/SDForm">Student Admission</button>
        <button class="partial" data-to="SetupPrincipal/CreateTeacher">Teacher Account</button>
        <button class="partial" data-to="SetupPrincipal/CreateClass" data-js="/js/addClasses">Class</button>
        <button class="partial" data-to="SetupPrincipal/CreateSubject" data-js="/js/classSubject">Subject</button>
        <button class="partial" data-to="SetupPrincipal/CreateExam" data-js="/js/examRubrick">Exam</button>
        <button class="partial" data-to="SetupPrincipal/SetupSchool">School Info</button>
        <button class="partial" data-to="LeaveCallender/DisplayLeaveCallenderForm" data-js="/js/calendar/calendar">Leave Callendar</button>
    </div>
    <div class="create-actions">
        <h3>LEARNING CENTER</h3>
        <button class="partial" data-to="">Publications</button>
        <button class="external" data-to="https://www.aistrone.com/">About Software ></button>
    </div>
    <div class="database">
        <h3>DATABASE</h3>
        <button class="danger redirect" data-to="SetupPrincipal/DatabaseManagement">Database</button>
    </div>
    
</div>