<div class="card">
    <h2 class="card-head">Select An Exam</h2>
    <div class="card">

        <div class="exam-section">

            <button class="btn-success" data-action="selectExam">Select An Exam</button>
            <button class="btn-edit" data-action="newExam">Create New Exam</button>
        </div>
        <div id="select-wraper"></div>
    </div>

    <hr />
    <!-- Rubric section !-->
    <div class="reubric-section">
        <h2 class="card-head">Set Marking Rubric</h2>
        <div class="exam-section">
            <button id="select-class" class="btn-success" data-action="selectClass">Select Classes</button>
            <button id="set-all" class="btn-edit" data-action="selectSchool">Select Entire School</button>
        </div>
        <div id="class-wraper"></div>
    </div>
    <hr />
    <div class="form-card">
        <table class="">

            <thead>
                <tr>
                    <th>Subjects</th>
                    <th>Full Mark</th>
                    <th>Credit Hour</th>
                    <th>Row</th>
                </tr>
            </thead>

            <tbody class="form-data">
                <tr>
                    <td>
                        <select id="subjects" class="Scode" name="SCode" required>
                            <option value="" disabled selected>Select Subject</option>
                        </select>
                    </td>
                    <td><input type="number" name="FullMark" required size="2" /></td>
                    <td><input type="number" name="CreditHour" required size="2" /></td>

                </tr>
            </tbody>
        </table>

        <button class="btn-primary" data-action="submit">Set Rubrick</button>
    </div>
</div>