@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
<link rel="stylesheet" href="~/css/rightnav.css" />
<link rel="stylesheet" href="~/css/cstview.css" />
<link rel="stylesheet" href="~/css/header.css" />
}
<link rel="stylesheet" href="~/css/form.css" />

<script type="module" src="/js/classSubject.js"></script>

<partial name="_header" />

<div class="dashboard">
<div><div class="partial-container"></div>
    <form class="card form-container" action="/Principal/SetupPrincipal/SaveSubjec" method="post">
        <p class="error"></p>
        <h2 class="card-head">Add all subjects that the school teaches.</h2>

        <table class="form-card">
            
            <thead>
                <tr>
                    <th>Subject Code</th>
                    <th>Subject Name</th>
                    <th>Remove/Add</th>
                </tr>
            </thead>

            <tbody class="form-data">
                <tr>
                    
                    <td><input type="text" name="SCode" required size="2" placeholder="Subject Code"/></td>
                    <td><input type="text" name="SName" required size="2" placeholder="Subject Name"/></td>

                </tr>
            </tbody>
        </table>

        <button type="submit" class="btn-form actions btn-success">Save Subject</button>
    </form>
</div>
    <partial name="_RightNavBar" model="-1" />
</div>