<h2 class="card-head">Create Classes</h2>
<div class="card">

    <div class="form-card">
        <table class="">
            <thead>
                <tr>
                    <th>Class Name</th>
                    <th>Grade</th>
                    <th>Row</th>
                </tr>
            </thead>

            <tbody class="form-data">
                <tr>
                    <td><input type="text" name="ClassName" required size="2" placeholder="Lumbini Lions" /></td>
                    <td><input type="text" name="ClassGrade" required size="2" placeholder="SEE" /></td>
                </tr>

            </tbody>
        </table>
        <button class="btn-primary" data-action="submit">Create Classes</button>
    </div>

</div>