<h2 class="card-head">Add Subjects </h2>
<div class="card">
    <div class="form-card">
        <table class="">

            <thead>
                <tr>
                    <th>Subject Code</th>
                    <th>Subject Name</th>
                    <th>Subject Type</th>
                    <th>Link Practical</th>
                    <th>Row</th>
                </tr>
            </thead>

            <tbody class="form-data">
                <tr>

                    <td><input type="text" name="SCode" size=2 required placeholder="Subject Code" /></td>
                    <td><input type="text" name="SName" size=2 required placeholder="Subject Name" /></td>
                    <td><select name="SType" data-change="subselected">
                        <option value="null">-Select</option>
                        <option value="theory">Theory</option>
                        <option value="practical">Practical</option>
                    </select>
                </td>

                <td class="pr" size=2>Not Selected</td>

                </tr>
            </tbody>
        </table>
        <button class="btn-primary" data-action="submit">Save Subjects</button>
    </div>
</div>