@import url("_colorVariables.css");

.user{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 10px;
}
.login{
    display: inline-block;
      height: 20px;            /* optional: define height */
     border: none;
    padding: 0.5rem 1rem;
    background: var(--shadow-dark-alpha);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    color: #faf5f5;
    font-weight: bold;
    transition: background 0.3s;
    
}
.card {
    background: #fff;
    border-radius: var(--border-radius-md);
    padding: var(--spacing-md);
    box-shadow: var(--shadow-md);
    margin-bottom: var(--spacing-lg);
    max-width:60rem;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    padding: var(--spacing-sm);
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.data-table th {
    background: var(--primary-bgcolor-alpha);
    color: var(--text-light);
}
/* Keep background */
.data-table tr {
    background: var(--secondary-bgcolor);
}

/* First column align left */
.data-table td:first-child,
.data-table th:first-child {
    text-align: left;
    padding-left: 0.5rem; /* touch left boundary */
}

/* Last column align right */
.data-table td:last-child,
.data-table th:last-child {
    text-align: right;
    padding-right: 0.5rem; /* touch right boundary */
}


.data-table tr:hover {
    background: var(--secondary-bgcolor);
}

/* Buttons */


.btn-analyze {
    background: var(--button-color);
}
.btn-analyze:hover {
    background: var(--button-hover-color);
}

.btn-edit {
    background: var(--primary-bgcolor);
}
.btn-edit:hover {
    background: var(--primary-bgcolor-alpha);
}

.btn-delete {
    background: var(--danger-color);
}
.btn-delete:hover {
    background: #cc2e2e;
}

.btn-success {
    background: var(--success-color);
}
.btn-success:hover {
    background: #3e8e41;
}

/* Form Styling */
.form-card {
    background: var(--form-card-background-alpha);
    backdrop-filter: blur(10px);
    
}
.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;   /* Vertically center children */
    gap: 10px;             /* Optional: space between inputs/labels */
}
.scode {
    flex:2;
}
.sname {
    flex:4;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333; /* A dark text color for contrast */
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--border-radius-sm);
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.1);
    color: var(--form-input-text-color);
}
.add-cst{
    color:#fff;
}
.add-cst:hover{
    cursor: pointer;
}
.logo{
    display: flex;
    justify-content: center;
}