@import url('_colorVariables.css');
.card-head{
    text-align: center;
    
}
.form-card{
   min-width: 400px;
}

.form-card input[type="text"] {
    min-width: 10em;
}

.form-card input[type="number"] {
    width: 9em;
    text-align: center;
}

thead tr th:last-child {
    margin-left: auto;
    text-align: end;
}
thead tr th:first-child {
    margin-left: auto;
    text-align: left;
}
.btn-group{
    margin-right: auto;
    text-align: end;
}
.only-boarder{
    border-radius: 1px;
    border: 1px solid wheat;
}
.non-table {
    display: flex;
    justify-content: flex-start;
    gap: 0.5em;
   flex-wrap: wrap;
   max-width: 40rem;
}
#set-all{
    margin-top: 10px;
}