@import url("_colorVariables.css");
.main-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--secondary-bgcolor);
    min-height: 100vh;
    background: url("/image/logico.png"); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} 

.hero {
    text-align: center;
    padding: 4rem 2rem;
    color: var(--text-light);
    background: var(--primary-bgcolor-alpha);
}

.hero .title {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

.hero .subtitle {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 2rem auto;
    color: var(--text-light-subtle);
}

.start-btn {
    background: var(--button-color);
    color: var(--text-light);
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s ease;
}

.start-btn:hover {
    background: var(--button-hover-color);
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 3rem 2rem;
    color: var(--text-light);
}

.feature-card {
    background: var(--primary-bgcolor-alpha);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 3px 6px var(--shadow-dark-alpha);
    transition: transform 0.3s;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card h2 {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    color: var(--text-light-subtle);
}

.info {
    text-align: center;
    padding: 2rem;
    background: var(--info-background-alpha);
    
}

footer {
    position:absolute;
    width:100%;
    text-align: center;
    padding: 1rem;
    background: var(--primary-bgcolor-alpha);
    color: var(--text-light);
    margin-top: 2rem;
    bottom:0px;
}






