body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    padding: 2rem 3rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 350px;
    border: solid gray 2px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    border: solid gray 1px;
    padding: 1rem;
    margin: 1rem;
}
.helpline{
    font-size: 10px;
    color: gray;
}

.login-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    padding: 0.6rem;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background: #0056b3;
}

.error {
    color: red;
    font-size: 0.9rem;
}
