
.marksheet-container {
margin:3px;
border:solid black 2px;

    background: white;
    border: 4px double #1a4d8c; /* The distinct blue border */
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    color: #1a4d8c;
    background:url("../school.png");
    background-repeat : no-repeat;
    background-position:center;
    background-size:contain;
    background-blend-mode:screen;

}

.school-name h1 {
    margin: 5px 0;
    font-size: 20px;
}

.grade-sheet-title {
    background-color: #4a7ab5;
    color: white;
    padding: 5px 30px;
    border-radius: 20px;
    display: inline-block;
    margin: 15px 0;
    font-weight: bold;
}

.student-info {
    text-align: left;
    margin-bottom: 20px;
    line-height: 1.8;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.text-left { text-align: left;
font-size:13px;}
.text-right { text-align: right;font-size:12px; }

.footer-signatures {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: left;
}

.notes {
    margin-top: 20px;
    font-size: 10px;
    text-align: left;
}

.note-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;
}
.marksheet-container {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

@media print {
    /* 1. Hide everything except the marksheet */
    body * {
        visibility: hidden;
    }

    .marksheet-container, .marksheet-container * {
        visibility: visible;
    }

    /* 2. Position the marksheet at the very top-left */
     .marksheet-container {
        left: 0;
        top: 0;
        width: 100%;
        margin: 2px;
        padding: 6px;

    }

    /* 3. Set page size to A4 and remove browser headers/footers */
    @page {
        size: A4;
        margin: 2mm; /* Standard margin for school documents */
    }

    /* 4. Hide the search button and input during print */
    .search, .symbol, button , .advert-head{
        display: none !important;
    }
}