/* Layout with nav */
@import url("_colorVariables.css");
body{
    background: var(--primary-bgcolor);
}


/* main dashboard centered and limited width */
.dashboard {
    display:flex;
    align-items:center;
    justify-content:center;          /* stays centered and not too wide */
  margin: 0 auto;
}
.dashboard > :first-child {
  margin-left: auto;
  
}

/* right nav bar aligned to right */
.dashboard > :last-child {
  margin-left: auto;
  align-self: flex-start;
  position: sticky;
}


/* Right Navigation */
.right-nav {
    display: flex;
    flex-direction: column; /* make it vertical */
    justify-content:space-between;
    width: fit-content;
    color: var(--text-light);
    padding: var(--spacing-md);
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
    position: sticky;
    top: 30px;
    height: 80vh;
    margin: 2rem;
}

/* Header */
.right-nav h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border-bottom: 2px solid var(--text-light);
    padding-bottom: 0.5rem;
}

/* Navigation buttons */
.create-actions .btn.primary {
    
    padding: 0.7rem 1rem;
    background: var(--button-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background 0.3s;
}

.nav-links .btn.primary:hover {
    background: var(--button-hover-color);
}

/* Create actions pushed to bottom */
.create-actions {
    display: flex;
    flex-direction: column;
    gap: 2px;
     /* pushes this section to bottom */
}



.create-actions .btn.primary:hover {
    background: var(--button-hover-color);
}

/* Info text */
.right-nav .info {
    margin-top: var(--spacing-md);
    font-size: 0.85rem;
    color: #ccc;
}

/* Buttons */
.btn,.toggler{
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    color: #fff;
    transition: background 0.3s;
}
.toggler  {
    color: #2b2727;  
}
.secondary{
    color:#cdc3c3;
    background-color:var(--shadow-dark-alpha);
}
.secondary:hover,
.btn:hover,
.toggler:hover {
    background-color: var(--success-color);
}